<div class="master-container">
    <p>Upload file</p>
    <form #createForm="ngForm">
        <div class="form-field">
            <input type='file' placeholder="File" required (change)="handleFileInput($event.target.files)">
        </div>

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select placeholder="Category" name="selectedCategory" [(ngModel)]="fileDTO.categoryId" required>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.categoryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <button mat-raised-button type="submit" (click)="submit()" [disabled]="!createForm.form.valid"
                class="btn btn-primary">Submit</button>
            <button mat-raised-button class="btn btn-primary" (click)="dialogRef.close()">Cancel</button>
        </div>
    </form>
</div>