<mat-card>
    <button mat-button (click)="folderComponent.newFolder()">
        <mat-icon>create_new_folder</mat-icon>
        <span>Add new folder</span>
    </button>
    <button mat-button (click)="newFile()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload file</span>
    </button>
</mat-card>
<folder-home (currentFolderEvent)="getFolder($event)"></folder-home>

<!-- <table mat-table [dataSource]="files" class="mat-elevation-z8" *ngIf="files.length != 0">
    <ng-container matColumnDef="fileName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon mat-list-icon>file</mat-icon> {{element.fileName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element">
            {{element.categoryName}}
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<div class="file-container" *ngIf="files.length != 0">
    <mat-nav-list>
        <mat-list-item *ngFor="let file of files" (dblclick)="openFile(file)"
            (contextmenu)="onContextMenu($event, file)">
            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
            <p mat-line> {{file.fileName}} </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
</div>

<div class="menu" [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu" (contextmenu)="disableContextMenu($event)">
</div>
<mat-menu #contextMenu="matMenu" (contextmenu)="disableContextMenu($event)">
    <ng-template matMenuContent let-file="file">
        <button mat-menu-item (click)="downloadFile(file)">
            <mat-icon>get_app</mat-icon>
            <span>Download</span>
        </button>
        <button mat-menu-item (click)="moveFile(file)">
            <mat-icon>arrow_forward</mat-icon>
            <span>Move</span>
        </button>
        <button mat-menu-item (click)="editFile(file)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteFile(file)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </ng-template>
</mat-menu>