<div class="master-container">
    <p>Edit file</p>

    <form #editForm="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>File name</mat-label>
            <input matNativeControl type="text" [(ngModel)]="file.fileName" name="fileName"
                placeholder="File name" required maxlength="64" #name="ngModel">
            <mat-error *ngIf="name.errors?.required">File name is required</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button type="submit" (click)="submit()"
                [disabled]="name.pristine || !editForm.form.valid" class="btn btn-primary">Submit</button>
            <button mat-raised-button class="btn btn-primary" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>